<h1>
  {{ editMode ? 'Modifier client' : 'Ajouter client' }}
</h1>

<p class="required-info">
  <span class="required">*</span> Champs obligatoires
</p>

<form [formGroup]="form" (ngSubmit)="save()">

  <div class="field">

    <label for="firstName">
      Prénom <span class="required">*</span>
    </label>

    <input id="firstName" type="text" placeholder="Prénom" formControlName="firstName"
      [class.invalid]="showValidation && form.get('firstName')?.invalid">

    <small class="error" *ngIf="showValidation && form.get('firstName')?.hasError('required')">
      Le prénom est obligatoire.
    </small>

  </div>


  <div class="field">

    <label for="lastName">
      Nom <span class="required">*</span>
    </label>

    <input id="lastName" type="text" placeholder="Nom" formControlName="lastName"
      [class.invalid]="showValidation && form.get('lastName')?.invalid">

    <small class="error" *ngIf="showValidation && form.get('lastName')?.hasError('required')">
      Le nom est obligatoire.
    </small>

  </div>


  <div class="field">

    <label for="email">
      Email <span class="required">*</span>
    </label>

    <input id="email" type="email" placeholder="Email" formControlName="email"
      [class.invalid]="showValidation && form.get('email')?.invalid">

    <small class="error" *ngIf="showValidation && form.get('email')?.hasError('required')">
      L'email est obligatoire.
    </small>

    <small class="error" *ngIf="
        showValidation &&
        !form.get('email')?.hasError('required') &&
        form.get('email')?.invalid
      ">
      L'adresse email doit être valide et se terminer par .com.
    </small>

  </div>


  <div class="field">

    <label for="phone">
      Téléphone
    </label>

    <input id="phone" type="text" placeholder="Téléphone" formControlName="phone">

  </div>


  <div class="field">

    <label for="address">
      Adresse
    </label>

    <input id="address" type="text" placeholder="Adresse" formControlName="address">

  </div>


  <div class="field">

    <label for="postalCode">
      Code postal
    </label>

    <input id="postalCode" type="text" placeholder="Code postal" formControlName="postalCode">

  </div>


  <div class="field">

    <label for="city">
      Ville
    </label>

    <input id="city" type="text" placeholder="Ville" formControlName="city">

  </div>


  <button type="submit" class="save-button" [class.disabled-look]="form.invalid" (mouseenter)="showRequiredFields()">
    Enregistrer
  </button>


  <button type="button" (click)="cancel()">
    Annuler
  </button>

</form>
