:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

h1 {
  max-width: 600px;
  margin: 0 auto 10px;
}

.required-info {
  max-width: 600px;
  margin: 0 auto 25px;
  font-size: 13px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 600px;

  margin: 0 auto;
  padding: 25px;

  box-sizing: border-box;

  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

label {
  font-weight: 500;
}

.required {
  color: red;
  font-weight: bold;
}

input {
  width: 100%;
  box-sizing: border-box;

  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 5px;

  font-size: 15px;
  outline: none;
}

input:focus {
  border-color: #666;
}

input.invalid {
  border: 2px solid red;
  background-color: #fff5f5;
}

.error {
  color: red;
  font-size: 13px;
}

button {
  width: 100%;
  box-sizing: border-box;

  padding: 12px;

  border-radius: 5px;

  cursor: pointer;
}

.save-button.disabled-look {
  opacity: 0.55;
  cursor: not-allowed;
}


/* Téléphone */

@media (max-width: 768px) {

  :host {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  form {
    max-width: 100%;
    padding: 18px;
    gap: 18px;
  }

  input {
    font-size: 16px;
  }
}
