.table {

  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}



.table th {

  background: #222;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;

}



.table td {

  padding: 12px;
  border: 1px solid #ccc;

}



.table tr:nth-child(even) {

  background-color: #f8f9fa;

}



.table tr:hover {

  background-color: #eef2ff;

}
